.snowflakes {
    position:absolute;
    left:5%;
    top:-15px;
    width:90%;
    overflow:visible;
}

/* default animation and transform */
.snowflake {
    position:absolute;
    color:#fff;
    -webkit-animation:falling 4.7s linear 0 infinite;
    -moz-animation:falling 4.7s linear 0 infinite;
}

/* animation used for ALL snowflakes, 1000px will be updated by Snowflakes.create() to reflect true height of window */
@-webkit-keyframes falling {
    0% { -webkit-transform:translate3d(0,0,0) rotate(0deg); }
    100% { -webkit-transform:translate3d(0,0,0) rotate(360deg); }
}

@-moz-keyframes falling {
    0% { -moz-transform:translate3d(0,0,0) rotate(0deg); }
    100% { -moz-transform:translate(0,0) rotate(360deg); }
}
